In [1]:
import numpy as np
import pandas as pd
import re

pd.options.display.float_format = '{:.2f}'.format # change the display format of numbers

In [2]:
saffronart_df = pd.read_csv('saffronart_dataset.csv') 

# change the dates to Pandas datetime objects:
saffronart_df['auction_date'] = pd.to_datetime(saffronart_df['auction_date'])
saffronart_df['birth_date'] = pd.to_datetime(saffronart_df['birth_date'])
saffronart_df['death_date'] = pd.to_datetime(saffronart_df['death_date'])

saffronart_df.head(5)

,artist,birth_date,birth_place,death_date,artist_age,title,winning_bid,low_est,high_est,auction_date,category,style,size,medium
0,akhilesh,1956-01-01,Indore,NaT,63.00,Divine Conversation,9000.00,5000.00,7000.00,2019-06-01,painting,abstract,71.5 x 71.5 in,acrylic on canvas
1,akhilesh,1956-01-01,Indore,NaT,63.00,In search of Untitled forms -II,1120.00,5000.00,6670.00,2013-11-01,painting,abstract,32.5 x 44 in,acrylic on canvas
2,akhilesh,1956-01-01,Indore,NaT,63.00,In Search of Untitled Lines,6186.00,6900.00,8625.00,2013-08-01,painting,NaN,47 x 47 in,acrylic on canvas
3,akhilesh,1956-01-01,Indore,NaT,63.00,Magadhi,2400.00,5770.00,7695.00,2013-02-01,painting,abstract,33 x 44.5 in,acrylic on canvas
4,akhilesh,1956-01-01,Indore,NaT,63.00,Untitled,2942.00,6735.00,8655.00,2013-02-01,painting,abstract,40 x 40 in,acrylic on canvas

In [3]:
# play with regex:

# if there're more than one piece, they're often marked with alphabet chars:
abc_order = '.*[a-z]\)' # ex: a), b), c), ... z)

# they can also mention the number of pieces in the lot:
pieces_num = ['.* two ', ' three ', ' four ', ' five ', ' six ', 
              ' seven ', ' eight ', ' nine ', ' ten ', ' eleven |']

multi_pi_ind = '|.*'.join(pieces_num) # multiple pieces indicator
multi_pi_ind += abc_order
print(multi_pi_ind)

s1 = 'height a): 14 x 11.5 in '
s2 = 'this work comprises of two parts'
s3 = 'c) and e) 11 x 7 in'

for i, s in enumerate([s1, s2, s3]):
    print('s{}:'.format(i+1), bool(re.match(multi_pi_ind, s)))

.* two |.* three |.* four |.* five |.* six |.* seven |.* eight |.* nine |.* ten |.* eleven |.*[a-z]\)
s1: True
s2: True
s3: True

In [4]:
def check_size(row):
    dimensions = re.findall('\d+\.\d+|\d+', row['size'])
    dimensions = list(map(float, dimensions)) # turn all dimensions into float type
    
    if not all(d > 0 for d in dimensions): # check if there's any dimensions not greater than 0
        print(row.name, row['size'], row['medium'], sep=' | ')
    
    if len(dimensions)<2 or len(dimensions)>3: #cannot have more than 2 or 3 dimensions
        print(row.name, row['size'], row['medium'], sep=' | ')
    
    if bool(re.match(multi_pi_ind, row['size'])):
        print(row.name, row['size'], row['medium'], sep=' | ')
           
saffronart_df.apply(check_size, axis=1)
print()

55 |  a) height : 14 x 11.5 in |  fiberglass and paint
1254 |  b) 15 x 12.5 in |  a) 12 x 9.5 in (30.4 x 24.1 cm)
2593 |  two panels measuring 13.5 x 8.5 in |  laminated photo-copies and fabric transfer mounted on board
3041 |  10.5 x 0 x 3 in |  bronze
7651 |   c) 3.5 x 5.5 in |  a) b) 5.5 x 3.5  in (14 x 8.8 cm)
7669 |  published: exhibited: | â â 146 cm x 105.4 cm
7714 |  this work comprises of two parts, a) measuring 7.5 x 7.25 x 15.5 inches |  depth: 15.5 in (39.4 cm)
7961 |  c) and e) 11 x 7 in |  a), b), d) and f) 11 x 7.5 in (28 x 19 cm)
8466 |  b) 4.5 x 4.5 in |  a) 10.5 x 8.5 in (26.6 x 21.5 cms)
8515 |  b) 11 x 8.5 in |  a) & c) 10 x 8 in (25.4 x 20.3 cm) (each)
8531 |  c) 8 x 7.5 in |  b) 8 x 7 in (20 x 18 cm)
8617 |  9 in x 0 in | bronze
9844 |  b) 17.5 x 17.5 in |  a) 17 x 17 in (43.1 x 43.1 cm)
10122 |  24 x 0 in |  bronze
10123 |  20 x 0 x 3 in | teracotta
10124 |  13.5 x 0 in |  bronze
10598 |  c) 24 x 37.5 in |  b) 30 x 11 in (76.2 x 27.9 cm)
11945 |  sixth from a limited edition of ten |  107.9 x 160 cm (each)
12062 |  c) 21 x 14 in |  a) b) d) e) 13.5 x 5 in (34.2 x 12.7 cm)
12064 |  d) 10 x 3 in |  c) 9.5 x 3 in (24.1 x 7.6 cm)
12069 |  c) 18 x 11 in |  a) b) d) and e) 14 x 5 in (35.5 x 12.7 cm)

In [5]:
# play with regex: 

avoid_ex_list = ['^(\d+|\d+\.\d+)\sx\s(\d+|\d+\.\d+)\sin\.?$',            # ex: 9 x 3 in, 9.5 x 3 in
                 '^(\d+|\d+\.\d+)\sx\s(\d+|\d+\.\d+)\sin\.?\s\(each\)$',  # ex: 9 x 3 in (each)
                 '^(\d+|\d+\.\d+)\sin\sx\s(\d+|\d+\.\d+)\sin\sâ\sâ$']     # ex: 9 in x 3 in â â

avoid_ex = '|'.join(avoid_ex_list)

s1 = '14 x 10.5 in (each)'
s2 = '38 in x 43 in â â'
s3 = 'b) 11.5 x 9 in'
s4 = '75.5 x 22.5 in'
s5 = 'image size: 7.5 x 9.5 in'

for i, s in enumerate([s1, s2, s3, s4, s5]):
    print('s{}:'.format(i+1), bool(re.match(avoid_ex, s)))

s1: True
s2: True
s3: False
s4: True
s5: False

In [6]:
def check_medium(row):
    if bool(re.match(avoid_ex, row['medium'].strip())): # check if it matches the specified expression
        return                                          # if matched then pass
    
    if any(char.isdigit() for char in row['medium']) or bool(re.match(multi_pi_ind, row['medium'])): 
    # check if there's any number in medium or if it indicates multiple pieces
        print(row.name, row['size'], row['medium'], sep=' | ')
        
saffronart_df.apply(check_medium, axis=1)
print()

302 |  29.5 x 21.5 in |  270gsm, gold foil on gf smith paper and mounted veneer
307 |  37 x 25.5 in | painted lithograph on 250 gsm velin d arches paper pasted on board
308 |  37 x 25.5 in | painted lithograph on 250 gsm velin d arches paper pasted on board
483 |  24 x 36 in |  ultra chrome k3 pigments on hahnemuhle photo acid free paper
484 |  24 x 36 in |  ultra chrome k3 pigments on hahnemuhle photo acid free paper
485 |  24 x 35.5 in |  ultra chrome k3 pigments on hahnemuhle photo acid free paper
486 |  24.5 x 35.5 in |  ultra chrome k3 pigments on hahnemuhle photo acid free paper
990 |  29.2 x 22.8 cm |  b) 11.5 x 9 in
1254 |  b) 15 x 12.5 in |  a) 12 x 9.5 in (30.4 x 24.1 cm)
1378 |  5 x 3.5 in |  b) ink on paper pasted on mountboard
1439 |  10.5 x 14.5 in |  b) mixed media on handmade paper
1552 |  44.25 x 30 in |  this work comprises of four panels
1661 |  13.75 in x 34 in |  digital prints on duratrans/ clear films, 3 layers
1662 |  13.75 in x 34 in |  digital prints on duratrans/ clear films, 3 layers
2078 |  34.5 x 24.5 in |  a) silk screen on imposed print and sand blasted glass
2300 |  31.5 x 21 in |  ultra chrome k3 pigments on paper
2451 |  196.8 x 116.8 x 20.3 cm |  77.5 x 46 x 8 in
2543 |  60 x 52 in |  4-colour lithograph, digital print, gold leaf, flocking, cotton shirt, vine charcoal sticks, screen printing ink, paper pulp and handmade paper box on stained handmade stpi cotton and linen paper
2575 |  65.5 in x 51 in |  the mixed media used is 4-colour lithograph, digital print, gold leaf, flocking, cotton shirt, vine charcoal sticks, screen printing ink, paper pulp and handmade paper box on stained handmade stpi cotton and linen paper pasted on plywood
2577 |  50 in x 40 in |  4-colour lithograph with handcolouring on handmade stpi cotton and linen paper
2578 |  50 in x 40 in |  4-colour lithograph on handmade stpi cotton and linen paper
2579 |  50 in x 40 in |  5-colour lithograph and chiri bark paper collage on handmade stpi cotton and linen paper
2771 |  29.5 x 43.5 in |  b) digital print on paper
3601 |  14 x 9.5 in |  b) charcoal and wash on paper
3654 |  9 x 10 in |  b) colour pencil on paper pasted on mountboard
4269 |  3.5 x 5.5 in |  c) ink on paper
4599 |  75 x 98 in |  four channel video projection on painted canvases
4740 |  16 in x 20 in |  archival pigment print on hahnemuhle fine art baryta 325 gsm
5640 |  6.45 x 4.44 in |  b) watercolour on paper pasted on mountboard
5790 |  10 x 8 in |  b) dry pastels on paper
5791 |  7 x 10.5 in |  b) sketchpen and watercolor on paper pasted on mountboard
6168 |  26.5 x 56.5 in |  medium: a) permanent ink & acrylic on canvasb) acrylic on canvas
6194 |  25.5 x 36 in |  ultra chrome k3 pigments on paper
6418 |  46.5 x 46.5 in |  b) glue,paper and cloth
6580 |  16 x 12.5 in |  1 mm stainless steel relief and epoxy paint
6591 |  10.5 x 13 in | a) pencil on paper
6765 |  sheet size: 8.5 x 10.5 in |  image size: 7.5 x 9.5 in
7123 |  20.5 x 30 in |  ultra chrome k3 pigments on paper
7651 |   c) 3.5 x 5.5 in |  a) b) 5.5 x 3.5  in (14 x 8.8 cm)
7662 |  43 x 119 in |  k3 ultrachrome archival inks on super-enhanced matt archival paper
7663 |  43 x 119 in |  k3 ultrachrome archival inks on super-enhanced matt archival paper
7665 |  59.5 x 41.5 in |  enamel paint on giclã©e print (using k3 ultrachrome inks on epson enhanced matte archival paper)
7666 |  42 x 118 in |  k3 ultrachrome archival inks on super-enhanced matt archival paper
7667 |  42 x 118 in |  k3 ultrachrome archival inks on super-enhanced matt archival paper
7669 |  published: exhibited: | â â 146 cm x 105.4 cm
7686 |  24.5 x 35 in |  print on hahnemuhle fine art photo rag bright white 310 gsm paper
7714 |  this work comprises of two parts, a) measuring 7.5 x 7.25 x 15.5 inches |  depth: 15.5 in (39.4 cm)
7762 |  6 x 8.75 in |  â2007'
7827 |  24 x 18 in |  b) oil on canvas
7913 |  38 x 36 in |  3d geometry array print on archival paper
7961 |  c) and e) 11 x 7 in |  a), b), d) and f) 11 x 7.5 in (28 x 19 cm)
8121 |  photo size: 9.6 x 7.6 inches |  circa 1880s
8466 |  b) 4.5 x 4.5 in |  a) 10.5 x 8.5 in (26.6 x 21.5 cms)
8515 |  b) 11 x 8.5 in |  a) & c) 10 x 8 in (25.4 x 20.3 cm) (each)
8531 |  c) 8 x 7.5 in |  b) 8 x 7 in (20 x 18 cm)
8622 |  33 x 40 in |  print on harman fb a1 archival paper
8623 |  24.5 x 16 in |  digital print on harman fb a1 archival paper
8624 |  48 x 38.5 in |  digital print on harman fb a1 archival paper
8625 |  40 x 48 in |  digital print on harman fb a1 archival paper
8627 |  16 x 10.5 in |  digital print on harman fb a1 archival paper
8629 |  39.5 x 49.5 in |  print on harman fb a1 archival paper
8911 |  16 x 12 in |  c) gouache and dry pastel on paper pasted on board
9585 |  9 x 7.5 in |  44-page stapled catalogue with 4-page personal recollections of jamini roy by thomas needham and 61 exhibits, many illustrated in colour or b&w
9844 |  b) 17.5 x 17.5 in |  a) 17 x 17 in (43.1 x 43.1 cm)
9965 |  54.6 x 36.8 cm |  21.5 x 14.5 inches (each)
10198 |  image size: 65.5 x 47.5 |  paper size: 78 x 59 in (198.1 x 149.8 cms)
10482 |  24 x 31 in  each |  printed area size: 14.5 x 22 in (36.8 x 55.8 cm) each
10483 |  24 x 31 in  each |  printed area size: 14.5 x 22 in (36.8 x 55.8 cm) each
10502 |  sheet size: 13 x 19.5 in |  printed area size: 12 x 18.5 in (30.4 x 46.9 cm) each
10512 |  198.1 x 27.9 x 35.6 cm |  78 x 11 x 14 in
10598 |  c) 24 x 37.5 in |  b) 30 x 11 in (76.2 x 27.9 cm)
10634 |  15.75 in x 15.75 in |  acrylic on paper (each)
10877 |  7.5 x 6.5 in |  stainless steel, copper wire and 22 carat gold plating
11007 |  14 x 14 in | 2004
11841 |  bottom canvas: 24 x 12 in |  top canvas: 12 x 36 in (30 x 90 cm)
11878 |   40 x 17.5 x 17.5 in |  this lot consists of two sculptures that are placed in close proximity to each other
11945 |  sixth from a limited edition of ten |  107.9 x 160 cm (each)
11946 |  sheet size: 23.5 x 19 in |  image size: 18 x 15 in (45.7 x 38.1 cm)
11957 |  53.5 x 44 cm |   b) 21 x 17.25 in
11958 |  21.5 x 12.7 cm |  e) 8.5 x 5 in
11959 |  72.3 x 57.1 cm |   b) 28.5 x 22.5 in
12027 |  77.4 x 57.1 cm |  c) 30.5 x 22.5 in
12055 |  25 x 10 in. |  b) watercolour on paper
12062 |  c) 21 x 14 in |  a) b) d) e) 13.5 x 5 in (34.2 x 12.7 cm)
12064 |  d) 10 x 3 in |  c) 9.5 x 3 in (24.1 x 7.6 cm)
12069 |  c) 18 x 11 in |  a) b) d) and e) 14 x 5 in (35.5 x 12.7 cm)
12267 |  38 x 40 in |  print on 100% acid free cotton rag paper
12300 |  28 x 7 in |  height: 15.5 in (39.3 cm)

In [7]:
dirty_rows = [990, 1254, 1552, 2593, 3041, 4599, 7651, 7669, 7714, 7961, 8466, 8515, 8531, 8617, 9844, 10122, 
              11878, 10123, 10124, 10598, 11841, 11945, 11957, 11958, 11959, 12027, 12062, 12064, 12069, 12300]

saffronart_df.iloc[dirty_rows]

,artist,birth_date,birth_place,death_date,artist_age,title,winning_bid,low_est,high_est,auction_date,category,style,size,medium
990,deepak bhandari,NaT,NaN,NaT,nan,"A) UNTITLED B) MONTH OF BAISAKHA, BARAMASA (KA...",91.00,385.00,465.00,2015-11-01,NaN,NaN,29.2 x 22.8 cm,b) 11.5 x 9 in
1254,sakti burman,1935-01-01,Kolkata,NaT,84.00,Untitled,13770.00,11480.00,14755.00,2015-02-12,painting,figurative,b) 15 x 12.5 in,a) 12 x 9.5 in (30.4 x 24.1 cm)
1552,phaneendra nath chaturvedi,1981-01-01,Varanasi,NaT,38.00,We Who Live by Myth,6900.00,6250.00,7815.00,2017-06-01,painting,figurative,44.25 x 30 in,this work comprises of four panels
2593,anita dube,1958-01-01,Lucknow,NaT,61.00,An Old (Oslo) Story,nan,20000.00,30000.00,2013-09-01,installation,NaN,two panels measuring 13.5 x 8.5 in,laminated photo-copies and fabric transfer mo...
3041,k laxma goud,1940-01-01,Nizampur Andhra Pradesh,NaT,79.00,untitled,7920.00,4545.00,5685.00,2005-12-01,sculpture,figurative,10.5 x 0 x 3 in,bronze
4599,ranbir kaleka,1953-01-01,Patiala Punjab,NaT,66.00,Crossings 2,180000.00,150000.00,200000.00,2013-09-01,installation,NaN,75 x 98 in,four channel video projection on painted canv...
7651,jagannath panda,1970-01-01,"Kotilingi, Orissa",NaT,49.00,"UNTITLED, 1995",480.00,1035.00,1380.00,2014-07-01,NaN,NaN,c) 3.5 x 5.5 in,a) b) 5.5 x 3.5 in (14 x 8.8 cm)
7669,aditya pande,1976-01-01,Lucknow,NaT,43.00,"HALF-LIFE FORM V, 2012",3722.00,8065.00,11295.00,2015-03-01,NaN,NaN,published: exhibited:,â â 146 cm x 105.4 cm
7714,manisha parekh,1964-01-01,NaN,NaT,55.00,Beings - 5,3156.00,3125.00,4690.00,2017-12-01,sculpture,figurative,"this work comprises of two parts, a) measurin...",depth: 15.5 in (39.4 cm)
7961,baiju parthan,1956-01-01,"Kottayam, Kerala",NaT,63.00,Untitled,15813.00,12500.00,15000.00,2007-09-01,painting,figurative,c) and e) 11 x 7 in,"a), b), d) and f) 11 x 7.5 in (28 x 19 cm)"
8466,ganesh pyne,1937-06-11,Kolkata,2013-03-12,76.00,Untitled,7869.00,6560.00,9840.00,2014-02-15,painting,figurative,b) 4.5 x 4.5 in,a) 10.5 x 8.5 in (26.6 x 21.5 cms)
8515,ganesh pyne,1937-06-11,Kolkata,2013-03-12,76.00,Untitled,7865.00,5820.00,6980.00,2006-05-01,drawing,figurative,b) 11 x 8.5 in,a) & c) 10 x 8 in (25.4 x 20.3 cm) (each)
8531,ganesh pyne,1937-06-11,Kolkata,2013-03-12,76.00,a) The Balcony b) Untitled c) Woman and the fl...,7350.00,7450.00,9600.00,2003-05-01,drawing,figurative,c) 8 x 7.5 in,b) 8 x 7 in (20 x 18 cm)
8617,k s radhakrishnan,1956-01-01,Kerala,NaT,63.00,UNTITLED,861.00,1590.00,2385.00,2015-08-01,NaN,NaN,9 in x 0 in,bronze
9844,g r santosh,1929-06-20,Srinagar Kashmir,1997-03-10,67.00,Untitled,18462.00,9235.00,12310.00,2015-09-10,painting,abstract,b) 17.5 x 17.5 in,a) 17 x 17 in (43.1 x 43.1 cm)
10122,himmat shah,1933-07-22,"Lothal, Gujarat",NaT,86.00,Untitled,44770.00,22730.00,34100.00,2005-12-01,sculpture,figurative,24 x 0 in,bronze
11878,l n tallur,1971-01-01,"Tallur, Karnataka",NaT,48.00,Blessing (Nano Technology),14100.00,10000.00,13335.00,2014-12-01,sculpture,figurative,40 x 17.5 x 17.5 in,this lot consists of two sculptures that are ...
10123,himmat shah,1933-07-22,"Lothal, Gujarat",NaT,86.00,Untitled,16390.00,13640.00,15910.00,2005-12-01,sculpture,figurative,20 x 0 x 3 in,teracotta
10124,himmat shah,1933-07-22,"Lothal, Gujarat",NaT,86.00,Pregnant Woman,12760.00,11370.00,13640.00,2005-12-01,sculpture,figurative,13.5 x 0 in,bronze
10598,bhajju shyam,NaT,NaN,NaT,nan,"GOND PAINTING, a) c) 1999, b) 1998",900.00,1315.00,1640.00,2015-02-01,NaN,NaN,c) 24 x 37.5 in,b) 30 x 11 in (76.2 x 27.9 cm)
11841,ratheesh t,1980-01-01,Kerala,NaT,39.00,Ratheesh (T),525.00,1640.00,2460.00,2015-04-07,painting,figurative,bottom canvas: 24 x 12 in,top canvas: 12 x 36 in (30 x 90 cm)
11945,anup mathew thomas,1977-01-01,Kochi,NaT,42.00,"METROPOLITAN, 2006",360.00,770.00,1080.00,2015-10-01,NaN,NaN,sixth from a limited edition of ten,107.9 x 160 cm (each)
11957,usman tirandaz,NaT,NaN,NaT,nan,BIRDS,504.00,445.00,740.00,2016-02-01,NaN,NaN,53.5 x 44 cm,b) 21 x 17.25 in
11958,usman tirandaz,NaT,NaN,NaT,nan,A) COMMON KINGFISHER B) UNTITLED C) PARADISE O...,245.00,540.00,695.00,2015-11-01,NaN,NaN,21.5 x 12.7 cm,e) 8.5 x 5 in
11959,usman tirandaz,NaT,NaN,NaT,nan,UNTITLED,425.00,1155.00,1310.00,2015-11-01,NaN,NaN,72.3 x 57.1 cm,b) 28.5 x 22.5 in
12027,"veena dutt, nibha and urmila devi paswan",NaT,NaN,NaT,nan,TREE OF LIFE (MADHUBANI PAINTING),120.00,310.00,385.00,2015-11-01,NaN,NaN,77.4 x 57.1 cm,c) 30.5 x 22.5 in
12062,thota vaikuntam,1942-01-01,Boorugupali Karimnagar Andhra Pradesh,NaT,77.00,Untitled,12000.00,10000.00,13335.00,2014-12-02,painting,figurative,c) 21 x 14 in,a) b) d) e) 13.5 x 5 in (34.2 x 12.7 cm)
12064,thota vaikuntam,1942-01-01,Boorugupali Karimnagar Andhra Pradesh,NaT,77.00,Untitled,8400.00,3335.00,5000.00,2014-12-02,painting,figurative,d) 10 x 3 in,c) 9.5 x 3 in (24.1 x 7.6 cm)
12069,thota vaikuntam,1942-01-01,Boorugupali Karimnagar Andhra Pradesh,NaT,77.00,Untitled,20288.00,11865.00,15255.00,2014-03-01,painting,figurative,c) 18 x 11 in,a) b) d) and e) 14 x 5 in (35.5 x 12.7 cm)
12300,b vithal,1935-01-01,Vardha Maharashtra,1992-01-01,57.00,Untiled,5304.00,4920.00,6560.00,2013-09-01,sculpture,figurative,28 x 7 in,height: 15.5 in (39.3 cm)

**Problems:**
1. Empty sizes
2. Sizes pushed to medium:
    * Fix medium 
    * Fix size

In [8]:
def get_area_vol(x):
    dimensions = re.findall('\d+\.\d+|\d+', x)  
    dimensions = list(map(float, dimensions)) # turn all dimensions into float type
    dimensions = [d for d in dimensions if d > 0] # remove invalid dimension that's equal 
                       
    if 'cm' in x:
        dimensions = np.array(dimensions)/2.54 # convert to inch
    
    return np.prod(dimensions) # multiply them altogether

In [9]:
# verify the minimum and maximum values of area_or_vol:

# print('MIN AREA/VOLUME:\n', saffronart_df.iloc[saffronart_df.area_or_vol.idxmin()], sep='')
# print()
# print('MAX AREA/VOLUME:\n', saffronart_df.iloc[saffronart_df.area_or_vol.idxmax()], sep='')

---

In [10]:
# get the artist's age on the date of the auction:

saffronart_df['auction_dt_age'] = saffronart_df['auction_date'].sub(saffronart_df['birth_date'], axis=0)
saffronart_df.auction_dt_age

0       23162 days
1       21124 days
2       21032 days
3       20851 days
4       20851 days
           ...
12416   18852 days
12417   36877 days
12418   27271 days
12419   21646 days
12420   25080 days
Name: auction_dt_age, Length: 12421, dtype: timedelta64[ns]

In [11]:
# divide the number of days by 365 to get the age:

saffronart_df['auction_dt_age'] = saffronart_df['auction_dt_age'].dt.days//365
saffronart_df.auction_dt_age

0        63.00
1        57.00
2        57.00
3        57.00
4        57.00
         ...
12416    51.00
12417   101.00
12418    74.00
12419    59.00
12420    68.00
Name: auction_dt_age, Length: 12421, dtype: float64

In [12]:
# if the artist is no longer living at the time of the auction, auction_dt_age = artist_age

saffronart_df.loc[saffronart_df.auction_dt_age > saffronart_df.artist_age, 'auction_dt_age']=saffronart_df.artist_age

In [13]:
# verify the minimum and maximum values of auction_dt_age:

print('YOUNGEST ARTIST:\n', saffronart_df.iloc[saffronart_df.auction_dt_age.idxmin()], sep='')
print()
print('OLDEST ARTIST:\n', saffronart_df.iloc[saffronart_df.auction_dt_age.idxmax()], sep='')

YOUNGEST ARTIST:
artist                girish dahiwale
birth_date        1974-01-01 00:00:00
birth_place                       NaN
death_date        1998-01-01 00:00:00
artist_age                      24.00
title                        Untitled
winning_bid                   9178.00
low_est                       2900.00
high_est                      4350.00
auction_date      2018-12-01 00:00:00
category                     painting
style                      figurative
size                 95.75 x 113.5 in
medium              acrylic on cloth
auction_dt_age                  24.00
Name: 2083, dtype: object

OLDEST ARTIST:
artist                     b c sanyal
birth_date        1904-04-22 00:00:00
birth_place           Dibrugarh Assam
death_date        2003-01-01 00:00:00
artist_age                      99.00
title                        Untitled
winning_bid                       NaN
low_est                      11595.00
high_est                     14495.00
auction_date      2019-06-01 00:00:00
category                     painting
style                       landscape
size                  35.5 x 47.25 in
medium                 oil on canvas
auction_dt_age                  99.00
Name: 9879, dtype: object

In [14]:
# export the updated dataframe to a CSV for later use: 
saffronart_df.to_csv("updated_saffronart_dataset.csv", index = False)